PORT=4002
OWNER_MS_URl=localhost:80

# Auth Token
USER_JWT_ACCESS_SECRET=ZMMjvOd1EC3nJgrEt4U5Wr3E3QkQzWfF
USER_JWT_REFRESH_SECRET=ZMMjvOd1EC3nJgrEt4U5Wr3E3QkQzWfFREFTOK12345RESHEN


# JWT ExpiresIn
ACCESS_ExpiresIn=86400
REFRESH_ExpiresIn=604800

PRODUCT_MS_URl=localhost:82
HELPER_MS_URl=localhost:83
USER_MS_URl=localhost:84
SHOP_MS_URl=localhost:85
