PORT=4031
OWNER_MS_URl=
PRODUCT_MS_URl=
HELPER_MS_URl=
USER_MS_URl=
SHOP_MS_URl=

ACCESS_ExpiresIn=86400
REFRESH_ExpiresIn=604800
USER_JWT_ACCESS_SECRET=ZMMjvOd1EC3nJgrEt4U5Wr3E3QkQzWfF
USER_JWT_REFRESH_SECRET=ZMMjvOd1EC3nJgrEt4U5Wr3E3QkQzWfFREFTOK12345RESHEN
